
h1 {
    text-align: center;
    color: rgb(71, 7, 247)
}

h2 {
    color: rgb(241, 10, 10)
}

body {
    font-family: 'Courier New', Courier, monospace
}

ul {
    list-style-type: none;
}

.api {
    font-size: 1.25em;
}

.endpoint {
    background-color: lightcyan;
}

.http {
    color: rgb(64, 181, 83)
}
 
.route {
    color: darkblue
}