
h1 {
    text-align: center;
    color: rgb(71, 7, 247)
}

h2 {
    color: rgb(241, 10, 10);
}

body {
    font-family: 'Courier New', Courier, monospace
}

ul {
    list-style-type: none;
}

.api {
    font-size: 1.25em;
    font-weight: bold
}

.endpoint {
    background-color: lightcyan;
    font-weight: bold
}

.http {
    color: rgb(53, 82, 58);
    font-weight: bold
}
 
.route {
    color: darkblue;
    font-weight: bold
}

.listItem {
    font-size: 1.25rem
}

.query {
    color: rgb(93, 69, 116);
}